* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./img/pixel-art-sky-background-with-clouds-cloudy-blue-sky-for-8bit-game-on-white-background-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#fps {
  position: absolute;
  top: 2px;
  left: 2px;
  color: #ffc746;
  font-weight: bold;
  font-size: 1rem;
  z-index: 100;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
}

.bootMenu {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: rgba(245, 245, 245, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  animation: stagger-up 0.5s ease-in;
}
.bootMenu #title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffc746;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  animation: stagger-right 0.7s ease-in;
}
.bootMenu p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #363636;
  font-weight: bold;
}
.bootMenu span {
  font-size: 0.9rem;
  color: #363636;
  margin-bottom: 10px;
}
.bootMenu form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bootMenu form #field {
  padding: 5px;
  width: 60%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: #ffc746 1px solid;
  margin-bottom: 20px;
}
.bootMenu form #submitBtn {
  padding: 5px;
  width: 100px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00d5ff;
  color: #363636;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
  color: #f5f5f5;
}
.bootMenu form #submitBtn:hover {
  background-color: #00b5da;
}

#end-button {
  z-index: 2;
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 199, 70, 0.9);
  border: none;
  border-radius: 10px;
  right: 110px;
  margin-top: 15px;
  margin-right: 15px;
  padding: 10px;
  transition: background-color 0.3s;
  color: white;
  font-weight: bold;
}
#end-button:hover {
  background-color: rgba(255, 199, 70, 0.7);
  cursor: pointer;
}

#leave-button {
  z-index: 2;
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 199, 70, 0.9);
  border: none;
  border-radius: 10px;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
  padding: 10px;
  transition: background-color 0.3s;
  color: white;
  font-weight: bold;
}
#leave-button:hover {
  background-color: rgba(255, 199, 70, 0.7);
  cursor: pointer;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#end-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 400px;
  min-width: 300px;
  min-height: 300px;
  margin: auto;
  padding: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow-wrap: break-word;
}
#end-menu #end-title {
  text-align: center;
  text-justify: auto;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffc746;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  animation: stagger-right 0.7s ease-in;
}
#end-menu #end-prompt {
  font-size: large;
  font-weight: bolder;
}
#end-menu .end {
  background-color: rgba(255, 199, 70, 0.8);
  width: 100px;
  height: 30px;
  text-align: center;
  padding: 5px;
  position: inherit;
  border: none;
  margin: 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
  animation: stagger-up 0.5s ease-in-out;
}
#end-menu .end:hover {
  background-color: #ffc746;
  cursor: pointer;
}
#end-menu #button-container {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 650px;
  min-width: 300px;
  min-height: 300px;
  margin: auto;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
#game #lives-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 40px;
  width: 70%;
}
#game #lives-container p {
  padding: 10px;
  color: black;
  font-weight: bold;
}
#game #lives-container ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#game #lives-container ul li {
  padding: 10px;
  border-radius: 6px;
  width: 100px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgba(255, 199, 70, 0.8);
  color: white;
}

#waitingRoom {
  width: 70%;
  height: 80%;
}
#waitingRoom ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#waitingRoom ul li {
  padding: 10px;
  border-radius: 6px;
  width: 90%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: rgba(255, 199, 70, 0.8);
  color: white;
}
#waitingRoom ul li span {
  font-size: 1.5rem;
}

.countDown {
  text-align: center;
  z-index: 1;
  margin-top: 30%;
  font-size: 5rem;
  color: #ffc746;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  animation: stagger-up 0.5s ease-in;
}

#playersCount {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #363636;
}

.player {
  background-color: rgba(245, 245, 245, 0.6);
}

#room-container {
  width: 100%;
  height: 100%;
}

#playerList {
  width: 100%;
}

#chat {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
#chat #chat-box {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  text-align: start;
}
#chat #chat-box p {
  width: 100%;
  overflow-wrap: break-word;
}
#chat #chat-box .chat-element-join {
  background-color: rgba(63, 240, 0, 0.3);
  color: #3FF000;
  padding: 3px;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 3px;
  margin-top: 2px;
}
#chat #chat-box .chat-element-leave {
  background-color: rgba(255, 90, 187, 0.3);
  color: #ff5abb;
  padding: 3px;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 3px;
  margin-top: 2px;
}
#chat #chat-box .chat-element {
  padding: 4px;
  color: white;
  line-height: 25px;
  background-color: rgba(54, 54, 54, 0.5);
  margin-bottom: 3px;
  margin-top: 2px;
  border-radius: 8px;
}
#chat #chat-box .chat-element:last-child .chat-sender {
  color: #00d5ff;
}
#chat #chat-box .chat-element .chat-sender {
  color: #ffc746;
  padding-bottom: 8px;
  padding-top: 8px;
}
#chat form {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
}
#chat form #chat-input {
  width: 100%;
  padding: 5px;
  height: 30px;
  border: 1px solid #ffc746;
  border-radius: 5px;
  background-color: #f5f5f5;
}
#chat form #chat-input:focus {
  outline: none;
  overflow-wrap: break-word;
}

#map {
  position: relative;
  width: 608px;
  height: 608px;
}

.line {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

#TabBomb {
  will-change: transform;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
}
#TabBomb div {
  position: absolute;
}

.player-sprite {
  will-change: transform;
  position: absolute;
  z-index: 100;
  width: 32px;
  height: 32px;
  background-color: #ffc746;
}

.block-cover {
  position: absolute;
  z-index: 40;
}

.bomb, .fire {
  will-change: transform;
}

@keyframes stagger-right {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes stagger-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */