$primary-color: #ffc746;
$secondary-color: #00d5ff;
$chat-color1: #ff5abb;
$chat-color2: $primary-color;
$chat-color3: $secondary-color;
$chat-color4: #3FF000;
$text-color: #363636;
$background-color: #f5f5f5;
$shadow-color: rgba(0, 0, 0, 0.3);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./img/pixel-art-sky-background-with-clouds-cloudy-blue-sky-for-8bit-game-on-white-background-vector.jpg');
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bootMenu {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: rgba($color: $background-color, $alpha: .9);
    box-shadow: 0 0 10px $shadow-color;
    border-radius: 20px;
    animation: stagger-up 0.5s ease-in;

    #title {
        font-size: 3rem;
        margin-bottom: 20px;
        color: $primary-color;
        text-shadow: 3px 3px 0 $shadow-color;
        animation: stagger-right .7s ease-in;
    }

    p {
        font-size: 1rem;
        margin-bottom: 5px;
        color: $text-color;
        font-weight: bold;
    }

    span {
        font-size: 0.9rem;
        color: $text-color;
        margin-bottom: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        #field {
            padding: 5px;
            width: 60%;
            margin-bottom: 10px;
            // border: none;
            border-radius: 5px;
            border: $primary-color 1px solid;
            margin-bottom: 20px;
        }

        #submitBtn {
            padding: 5px;
            width: 100px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
            background-color: $secondary-color;
            color: $text-color;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 20px;
            color: $background-color;

            &:hover {
                background-color: #00b5da;
            }
        }
    }
}



#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#game {
    width: 70%;
    height: 70%;
    min-width: 300px;
    min-height: 300px;
    max-width: 800px;
    max-height: 800px;
    margin: auto;
    background-color: $background-color;
    box-shadow: 0 0 10px $shadow-color;
    border-radius: 20px;
}

#waintingRoom {
    width: 70%;
    height: 100%;
    background-color: #ccc;
}


#chat {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: rgba($color: $shadow-color, $alpha: .6);

    #chat-box {
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        text-align: start;

        p {
            width: 100%;
            overflow-wrap: break-word;
        }

        .chat-element-join {
            background-color: rgba($color: $chat-color4, $alpha: .3);
            color: $chat-color4;
            padding: 3px;
            border-radius: 3px;
            text-align: center;
            margin-bottom: 3px;
            margin-top: 2px;
        }

        .chat-element-leave {
            background-color: rgba($color: $chat-color1, $alpha: .3);
            color: $chat-color1;
            padding: 3px;
            border-radius: 3px;
            text-align: center;
            margin-bottom: 3px;
            margin-top: 2px;
        }

        .chat-element {
            padding: 4px;
            color: white;
            line-height: 25px;
            background-color: rgba($color: $text-color, $alpha: .5);
            margin-bottom: 3px;
            margin-top: 2px;
            border-radius: 8px;
            &:last-child {
            animation: fadeIn 0.5s ease-in, stagger-right 0.5s ease-in;
            
                .chat-sender {
                    color: $chat-color3
                }
            }

            .chat-sender {
                color: $chat-color2;
                padding-bottom: 8px;
                padding-top: 8px;
            }
        }

    }

    form {
        position: relative;
        bottom: 0;
        width: 100%;
        padding: 10px 20px;

        #chat-input {
            width: 100%;
            padding: 5px;
            height: 30px;
            border: 1px solid $primary-color;
            border-radius: 5px;
            background-color: $background-color;
            &:focus{
                outline: none;
                overflow-wrap: break-word;
            }
        }
    }
}


@keyframes stagger-right {
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes stagger-up{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}