html,
body {
    overflow-x: hidden;
}

body {
    background-color: white;
}

#game {
    position: absolute;
    transform: scale(2);
    top: 32px;
    left: 32px;

}

.background{
    position: absolute;
    width: 460px;
    // height: 416px;
    .backline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 32px;
        .case {
            transform: scale(2);
        }
    }
}

// .player {}

#menu-paused {
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
        color: white;
    }
}

#menu-main {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        color: white;
    }
}